# gitignore template for ecu.test workspaces - by tracetronic https://tracetronic.com
# website: https://www.ecu-test.com
#   * all directories are related to the default directories, please adapt the .gitignore if you use customized directories


# optional, if your process depends on this file remove exclusion
.workspace/attributeLists.xml
.workspace/interactiveexecution.xml
.workspace/protocol.xml
.workspace/pythonlibrary.xml
# deprecated, support for older versions
.workspace/traceexplorer.xml

# Custom file formats and test dependencies
#  * you can manage your artifacts also with test.guide (https://www.test-guide.info) and reference them via Playbooks
*.arxml
*.a2l
*.dbc
*.hex
*.s19
[tT]estdata
[tT]estdaten

# Test results and test execution related content
#   * Git is not intended to store and provide test results for all iterations
#   * We recommend to use test.guide (https://www.test-guide.info) for the test report management
TestReports

# Report generators and templates
#   * if you want to provide (f.e.) your own report generators exclude the directory here and ignore only the unnecessary subdirectories
Templates

# optional, default for external Python libraries
PyLibs

# Exclude large binary artifacts
#  * you can manage your artifacts also with test.guide (https://www.test-guide.info) and reference them via Playbooks
Offline-FIUs
Offline-Models
Offline-SGBDs
*.exe
*.msi
*.zip
*.7z

# Exclude default and custom temporary directories
Backup_*

# Python bytecode and cache files
__pycache__/
*.py[cod]

# Virtual environment
venv

# Python cache
__pycache__

# DS_Store
.DS_Store
# v0.1/.DS_Store
# v0.2/.DS_Store

# results
results
results_*/

# figures
figures
figures_*/

# outputs
outputs
